In [8]:
# Suppress warnings
import warnings
warnings.filterwarnings('ignore')

# Import necessary libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Load datasets
circuits = pd.read_csv('archive/circuits.csv')
status = pd.read_csv('archive/status.csv')
lap_times = pd.read_csv('archive/lap_times.csv')
sprint_results = pd.read_csv('archive/sprint_results.csv')
drivers = pd.read_csv('archive/drivers.csv')
races = pd.read_csv('archive/races.csv')
constructors = pd.read_csv('archive/constructors.csv')
constructor_standings = pd.read_csv('archive/constructor_standings.csv')
qualifying = pd.read_csv('archive/qualifying.csv')
driver_standings = pd.read_csv('archive/driver_standings.csv')
constructor_results = pd.read_csv('archive/constructor_results.csv')
pit_stops = pd.read_csv('archive/pit_stops.csv')
seasons = pd.read_csv('archive/seasons.csv')
results = pd.read_csv('archive/results.csv')

In [10]:
datasets = [circuits, status, lap_times, sprint_results, drivers, races, constructors, constructor_standings, qualifying, driver_standings, constructor_results, pit_stops, seasons, results]
dataset_names = ['Circuits', 'Status', 'Lap Times', 'Sprint Results', 'Drivers', 'Races', 'Constructors', 'Constructor Standings', 'Qualifying', 'Driver Standings', 'Constructor Results', 'Pit Stops', 'Seasons', 'Results']

for name, dataset in zip(dataset_names, datasets):
    print(f"\n{name} Dataset:")
    display(dataset.tail())

Circuits Dataset:

,circuitId,circuitRef,name,location,country,lat,lng,alt,url
72,75,portimao,Aut처dromo Internacional do Algarve,Portim찾o,Portugal,37.2270,-8.6267,108,http://en.wikipedia.org/wiki/Algarve_Internati...
73,76,mugello,Autodromo Internazionale del Mugello,Mugello,Italy,43.9975,11.3719,255,http://en.wikipedia.org/wiki/Mugello_Circuit
74,77,jeddah,Jeddah Corniche Circuit,Jeddah,Saudi Arabia,21.6319,39.1044,15,http://en.wikipedia.org/wiki/Jeddah_Street_Cir...
75,78,losail,Losail International Circuit,Al Daayen,Qatar,25.4900,51.4542,12,http://en.wikipedia.org/wiki/Losail_Internatio...
76,79,miami,Miami International Autodrome,Miami,USA,25.9581,-80.2389,0,http://en.wikipedia.org/wiki/Miami_Internation...

Status Dataset:

     statusId          status
134       137          Damage
135       138          Debris
136       139         Illness
137       140       Undertray
138       141  Cooling system

Lap Times Dataset:

        raceId  driverId  lap  position      time  milliseconds
575024    1131       858   65        19  1:10.742         70742
575025    1131       858   66        19  1:10.855         70855
575026    1131       858   67        19  1:12.454         72454
575027    1131       858   68        19  1:13.607         73607
575028    1131       858   69        19  1:11.489         71489

Sprint Results Dataset:

,resultId,raceId,driverId,constructorId,number,grid,position,positionText,positionOrder,points,laps,time,milliseconds,fastestLap,fastestLapTime,statusId
295,296,1131,858,3,2,15,16,16,16,0,23,+44.076,1645465,6,1:10.488,1
296,297,1131,848,3,23,0,17,17,17,0,23,+44.673,1646062,8,1:10.562,1
297,298,1131,822,15,77,18,18,18,18,0,23,+46.511,1647900,8,1:10.590,1
298,299,1131,807,210,27,17,19,19,19,0,23,+48.423,1649812,4,1:10.512,1
299,300,1131,855,15,24,19,20,20,20,0,23,+53.143,1654532,6,1:10.613,1

Drivers Dataset:

,driverId,driverRef,number,code,forename,surname,dob,nationality,url
854,856,de_vries,21,DEV,Nyck,de Vries,1995-02-06,Dutch,http://en.wikipedia.org/wiki/Nyck_de_Vries
855,857,piastri,81,PIA,Oscar,Piastri,2001-04-06,Australian,http://en.wikipedia.org/wiki/Oscar_Piastri
856,858,sargeant,2,SAR,Logan,Sargeant,2000-12-31,American,http://en.wikipedia.org/wiki/Logan_Sargeant
857,859,lawson,40,LAW,Liam,Lawson,2002-02-11,New Zealander,http://en.wikipedia.org/wiki/Liam_Lawson
858,860,bearman,38,BEA,Oliver,Bearman,2005-05-08,British,http://en.wikipedia.org/wiki/Oliver_Bearman

Races Dataset:

,raceId,year,round,circuitId,name,date,time,url,fp1_date,fp1_time,fp2_date,fp2_time,fp3_date,fp3_time,quali_date,quali_time,sprint_date,sprint_time
1120,1140,2024,20,32,Mexico City Grand Prix,2024-10-27,20:00:00,https://en.wikipedia.org/wiki/2024_Mexico_City...,2024-10-25,18:30:00,2024-10-25,22:00:00,2024-10-26,17:30:00,2024-10-26,21:00:00,\N,\N
1121,1141,2024,21,18,S찾o Paulo Grand Prix,2024-11-03,17:00:00,https://en.wikipedia.org/wiki/2024_S%C3%A3o_Pa...,2024-11-01,14:30:00,2024-11-01,18:30:00,\N,\N,2024-11-02,18:00:00,2024-11-02,14:00:00
1122,1142,2024,22,80,Las Vegas Grand Prix,2024-11-23,06:00:00,https://en.wikipedia.org/wiki/2024_Las_Vegas_G...,2024-11-21,02:30:00,2024-11-21,06:00:00,2024-11-22,02:30:00,2024-11-22,06:00:00,\N,\N
1123,1143,2024,23,78,Qatar Grand Prix,2024-12-01,17:00:00,https://en.wikipedia.org/wiki/2024_Qatar_Grand...,2024-11-29,13:30:00,2024-11-29,17:30:00,\N,\N,2024-11-30,17:00:00,2024-11-30,13:00:00
1124,1144,2024,24,24,Abu Dhabi Grand Prix,2024-12-08,13:00:00,https://en.wikipedia.org/wiki/2024_Abu_Dhabi_G...,2024-12-06,09:30:00,2024-12-06,13:00:00,2024-12-07,10:30:00,2024-12-07,14:00:00,\N,\N

Constructors Dataset:

,constructorId,constructorRef,name,nationality,url
207,210,haas,Haas F1 Team,American,http://en.wikipedia.org/wiki/Haas_F1_Team
208,211,racing_point,Racing Point,British,http://en.wikipedia.org/wiki/Racing_Point_F1_Team
209,213,alphatauri,AlphaTauri,Italian,http://en.wikipedia.org/wiki/Scuderia_AlphaTauri
210,214,alpine,Alpine F1 Team,French,http://en.wikipedia.org/wiki/Alpine_F1_Team
211,215,rb,RB F1 Team,Italian,http://en.wikipedia.org/wiki/RB_Formula_One_Team

Constructor Standings Dataset:

,constructorStandingsId,raceId,constructorId,points,position,positionText,wins
13266,28848,1132,15,0.0,10,10,0
13267,28849,1132,210,27.0,7,7,0
13268,28850,1132,215,31.0,6,6,0
13269,28851,1132,3,4.0,9,9,0
13270,28852,1132,214,9.0,8,8,0

Qualifying Dataset:

,qualifyId,raceId,driverId,constructorId,number,position,q1,q2,q3
10249,10307,1132,822,15,77,16,1:32.431,\N,\N
10250,10308,1132,825,210,20,17,1:32.905,\N,\N
10251,10309,1132,839,214,31,18,1:34.557,\N,\N
10252,10310,1132,815,9,11,19,1:38.348,\N,\N
10253,10311,1132,842,214,10,20,1:39.804,\N,\N

Driver Standings Dataset:

,driverStandingsId,raceId,driverId,points,position,positionText,wins
34590,72867,1132,839,3.0,18,18,0
34591,72868,1132,842,6.0,15,15,0
34592,72869,1132,822,0.0,21,21,0
34593,72870,1132,858,0.0,20,20,0
34594,72871,1132,860,6.0,14,14,0

Constructor Results Dataset:

       constructorResultsId  raceId  constructorId  points status
12500                 17005    1132            117    10.0     \N
12501                 17006    1132              3     2.0     \N
12502                 17007    1132            215     1.0     \N
12503                 17008    1132             15     0.0     \N
12504                 17009    1132            214     0.0     \N

Pit Stops Dataset:

       raceId  driverId  stop  lap      time duration  milliseconds
10985    1132       807     2   39  16:06:28   30.265         30265
10986    1132       840     2   39  16:06:33   29.469         29469
10987    1132       839     4   38  16:06:52   29.086         29086
10988    1132       815     4   47  16:20:38   28.871         28871
10989    1132       832     3   50  16:22:59   28.706         28706

Seasons Dataset:

    year                                                url
70  2020  http://en.wikipedia.org/wiki/2020_Formula_One_...
71  2021  http://en.wikipedia.org/wiki/2021_Formula_One_...
72  2022  http://en.wikipedia.org/wiki/2022_Formula_One_...
73  2023  http://en.wikipedia.org/wiki/2023_Formula_One_...
74  2024  https://en.wikipedia.org/wiki/2024_Formula_One...

Results Dataset:

,resultId,raceId,driverId,constructorId,number,grid,position,positionText,positionOrder,points,laps,time,milliseconds,fastestLap,rank,fastestLapTime,fastestLapSpeed,statusId
26514,26520,1132,839,214,31,18,16,16,16,0.0,50,\N,\N,46,16,1:30.875,233.371,12
26515,26521,1132,815,9,11,0,17,17,17,0.0,50,\N,\N,50,6,1:29.707,236.409,12
26516,26522,1132,855,15,24,14,18,18,18,0.0,50,\N,\N,43,17,1:31.014,233.014,12
26517,26523,1132,847,131,63,1,\N,R,19,0.0,33,\N,\N,3,19,1:31.298,232.289,34
26518,26524,1132,842,214,10,19,\N,W,20,0.0,0,\N,\N,\N,0,\N,\N,6

In [ ]:
# cleaning data before making analysis 

date_cols = ["date", 'fp1_date', "fp2_date", "fp3_date", "quali_date", "sprint_date"]
for col in date_cols:
    races[col] = pd.to_datetime(races[col],  errors= "coerce")

time_cols =  ["time", "fp1_time", "fp2_time", "quali_time", "sprint_time"]
for col in time_cols:
    races[col] = pd.to_timedelta(races[col], errors= "coerce")